@page "/not-found"
@attribute [AllowAnonymous]
@layout MainLayout
@inject IStringLocalizer<AppStrings> Localizer

<PageTitle>@Localizer["NotFoundTitle"]</PageTitle>

<h3>@Localizer["NotFoundTitle"]</h3>
<p>@Localizer["NotFoundMessage"]</p>