@inherits LayoutComponentBase
@inject IStringLocalizer<AppStrings> Localizer

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    @Localizer["BlazorErrorMessage"]
    <a href="." class="reload">@Localizer["Reload"]</a>
    <span class="dismiss">🗙</span>
</div>
